<template>
  <div>
    <router-link :to="{ name:'home' }">Home</router-link> |
    <router-link :to="{ name:'about' }">About</router-link> |
    <router-link :to="{ name:'user' }">Users</router-link>
  </div>
  <p>
    <button @click="$router.go(-1)">Go back!!</button>
    <button @click="$router.go(1)">Go forward!!</button>
    <button @click="$router.push('/about')">Redirect</button>
  </p>
  <router-view />
</template>

<style>
  .router-link-exact-active{
    color: red;
  }
</style>